<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DemoprojectRegressionSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fba77">  <td>18/11/14 08:15:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Methodrepository.callLaunching()[pri:0, instance:com.demoproject.test.Methodrepository@650e52]">&gt;&gt;callLaunching</td> 
<td>&nbsp;</td>  <td>main@28691712</td>   <td></td> </tr>
<tr bgcolor="7fba77">  <td>18/11/14 08:15:42</td>   <td>38127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Methodrepository.closedriver()[pri:0, instance:com.demoproject.test.Methodrepository@650e52]">&lt;&lt;closedriver</td> 
<td>&nbsp;</td>  <td>main@28691712</td>   <td></td> </tr>
<tr bgcolor="7fba77">  <td>18/11/14 08:15:18</td>   <td>14202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Methodrepository.dropdownSelection()[pri:1, instance:com.demoproject.test.Methodrepository@650e52]">dropdownSelection</td> 
  <td>main@28691712</td>   <td></td> </tr>
</table>
